#d1{
  display:block;
  width: 750px;
  height: 300px;
  border: 2px solid grey;
  border-radius: 30px;
  margin-left: :600px;
  background-image: url(https://b.zmtcdn.com/webFrontend/64dffaa58ffa55a377cdf42b6a690e721585809275.png);
  background-size:contain;
}
#d2
{
  display:contents;
  width: 750px;
  border: 2px solid black;
  height: 300px;

  margin-left: 100px;
  background-image: url();
  background-size: cover;

}
#d3{
    border-radius: 30px;
  width: 750px;

  height:300px;
  border: 2px solid pink;
  background-image: url("https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/07/super-easy-fruit-ice-cream.jpg?itok=LnKGuI48");
  background-size: cover;
}
label.logo{
  font-size: 60px;
  color: red;
}
nav{

  background-color: orange;
  height:300px;
  width:100%;
  border: 3px solid pink;
  border-color: pink;
  border-radius: 30px;
  box-shadow: 4px 4px 5px 2px orange;
  opacity: 0.7;



}
label.hola{
  color:red;
  font-style: italic;
  font-size: 30px;
  text-shadow: 5px;

}
body{
  background-image:url("https://image.shutterstock.com/image-photo/empty-wood-table-blur-open-260nw-583250941.jpg");
  background-size: contain;
}
#search{
  font-size: 20px;
  position: relative;
}
#d4{
  border-radius: 30px;

    border: 2px solid pink;
    background-image: url("https://pizzacircle.in/uploads/1416470008_1416470008_softdrink_can+small_french_fries+veg_burger.jpg");
    background-repeat: no-repeat;



  height:400px;
width: 750px;

}
#d5{
  border-radius: 30px;
  width: 750px;
    border: 2px solid pink;

      background-image: url("https://img.huffingtonpost.com/asset/5b9c13be24000032005310fc.jpeg?ops=scalefit_960_noupscale");
      background-size: cover;

  height:400px;
}
#d6{
  border-radius: 30px;
  width: 750px;
  border: 2px solid pink;
  height:400px;


    background-image: url("https://api.dominos.co.in/prod-olo-api/images/brandOfferImages/Home_Amazon_20190930.jpg")
}
#k{
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
  font: pink;

}
h3{
  border: 2px solid green;
  width: 200px;
  height: 20px;
  border-width: thick;
  border-color: pink;
  background-color:orange;
}
footer{
  height:300px;
  width=100%;
  background-color: black;
  border: 5px solid orange;
  border-radius: 30px;
  box-shadow: 
}
